* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .taste {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6834c;
    gap: 1rem;
    padding: 1.8rem 1rem;
    width: 100%;
    text-align: center;
  }
  
  .taste h1 {
    font-size: 2.8rem;
    color: #fff;
  }
  
  .taste p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem;
  }
  
  .taste button {
    background-color: #454f6f;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .taste button:hover {
    background-color: #b9c9ff;
    color: #454f6f;
  }
  
  #heroImage {
    display: none;
  }

  @media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .taste {
        display: flex;
        flex-direction: column;
        margin-top: 20px; 
      }

      .taste h1 {
        font-family: serif;
        font-size: 3rem;
        color: #fff;
        padding: 1rem;
      }
      
      .taste p {
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #fff;
        padding: 1rem;
      }

      .taste button {
        display: none;
      }

      #heroImage {
        display: none;
      }
      

  }

  @media screen and (min-width: 1024px) {
      body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .taste {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px; 
      }

      #heroImage {
        display: inline-block;
      }

      #heroImage {
        width: 375px;
        height: 375px;
      }


  }